 
body {
    font-family: 'calibriregular';
    margin: 0;
    height: 100vh;
  }
  html {
  height: 100%;
  }
   
  .login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .login-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    padding: 20px;
    width: 600px;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 0 4px #DEDEDE;
   
  }
  .login-holder {
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .login-header {
    margin-bottom: 90px;
    margin-top: 80px;
  }
  .login-holder h1 {
    font-size: 32px;
    line-height: 35px;
    color: #636466;
    font-family: 'calibriregular';
  }
  .login-holder span {
    font-size: 18px;
    line-height: 25px;
    color: #636466;
    font-family: 'calibriregular';
    display: block;
    margin-bottom: 50px;
  }
  .login-holder .btn-login {
    font-size: 16px;
    font-family: 'calibribold';
    height: 48px;
    width: 266px;
    border-radius: 4px;
    background: #7AB800;
    color: #fff;
  }
  .login-holder .btn-login:hover {
    background: #5c8903;
  }  

  .uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #7AB800;
}