<div>
  <div class="login-wrapper">
    <div class="login-content">
      <div class="login-header">
        <img src="assets/images/top-logo.svg" />
      </div>
      <div class="login-holder">
        <h1>Login</h1>
        <span>Great to have you back!</span>
        <button type="button" class="btn btn-login" (click)="login()" *ngIf="!showSpinner">Login</button>
      </div>
      <div class="footer">
        <a href="#"><img src="assets/images/bottom-logo.svg" /></a>
      </div>
    </div>
  </div>
</div>
